<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Litter</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>UIAppFonts</key>
	<array>
		<string>BerkeleyMono-Regular.otf</string>
		<string>BerkeleyMono-Bold.otf</string>
	</array>
	<key>WKApplication</key>
	<true/>
	<key>WKWatchOnly</key>
	<false/>
	<key>WKCompanionAppBundleIdentifier</key>
	<string>com.larkinwc.pilitter</string>
	<key>NSSiriUsageDescription</key>
	<string>Dispatch tasks to Codex by voice.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Litter uses the microphone to dictate prompts to Codex.</string>
</dict>
</plist>
